<router-outlet></router-outlet>
<div class="container col-md-10">
    <div class="row my-3">
        <div class="col-md-2 text-center">
            <img [src]="iconos[0]" height="70" width="50">
            <h4>Lyokozone</h4>
        </div>
        <div class="col-md-8">
            <input class="form-control text-center" [(ngModel)]="textoBusqueda" type="text"
                placeholder="Buscar un producto">
            <h3 class="mt-3">Resultados:</h3>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary-outline" (click)="irACarrito()"><img [src]="iconos[1]" width="32" height="32"></button>
            <button class="btn btn-primary-outline" (click)="iniciarSesion()"><img [src]="iconos[2]" width="32" height="32"></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 mx-3">
            <mat-radio-group name="cats" *ngFor="let categoria of categorias">
                <mat-radio-button [value]="categoria" (change)="filtrarPorCategoria(categoria)">
                    {{categoria.descripcion}}
                </mat-radio-button><br>
            </mat-radio-group>
        </div>
        <div class="col-md-10 justify-content-right">
            <table class="table">
                <tbody>
                    <tr class="row justify-content-center" *ngFor="let producto of productos | filter:textoBusqueda"
                        (click)="irADetalleProducto(producto)">
                        <td class="text-center">
                            <img src="{{producto.imagen}}" height="100" width="100" alt="Sin imagen">
                        </td>
                        <td class="text-justify col-md-7">{{producto.descripcion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>