<router-outlet></router-outlet>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Nueva categoria</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <input class="form-control" placeholder="Descripción" name="descripcion"
                           type="text" required [(ngModel)]="categoria.descripcion">
                </div>
                <button (click)="guardar()" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </div>
</div>