<div class="container col-md-4">
    <div class="text-center mt-3">
        <img [src]="rutaLogo">
        <h3>Iniciar Sesion</h3>
    </div>
    <form action="">
        <div class="form-group">
            <input class="form-control" placeholder="Correo electrónico" name="correo" type="email" [(ngModel)]="correo"
                required>
            <input class="form-control" placeholder="Contraseña" name="clave" type="password" [(ngModel)]="clave"
                required>
        </div>
        <div class="text-center">
            <button (click)="iniciarSesion()" class="btn btn-primary">Iniciar Sesión</button>
        </div>
    </form>
</div>
<router-outlet></router-outlet>