<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Nuevo Producto</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                        <label for="uname"><b>Descripcion</b></label>
                    <input class="form-control" placeholder="Descripción"
                           name="descripcion" type="text" required
                           [(ngModel)]="producto.descripcion">
                           <label for="uname"><b>Precio</b></label>
                    <input class="form-control" placeholder="Precio"
                           name="precio" type="text" required
                           [(ngModel)]="producto.precio">
                           <label for="uname"><b>Cantidad</b></label>
                    <input class="form-control" placeholder="Cantidad inicial"
                           name="cantidad" type="text" required
                           [(ngModel)]="producto.cantidad">
                           <label for="uname"><b>Imagen URL</b></label>
                    <input class="form-control" placeholder="URL de imagen"
                           name="imagen" type="text" required
                           [(ngModel)]="producto.imagen">
                    <label for="uname"><b>Categorias</b></label>
                    <form *ngFor="let categoria of categorias">
                        <input name="{{categoria.id}}" type="checkbox" required
                               (change)="pasarCategoria(categoria)"
                              >{{categoria.descripcion}}<br>
                    </form>
                </div>
                <button (click)="guardar()" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </div>
</div>

<router-outlet></router-outlet>